<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="logfile"
            layout="###### ${date:universalTime=true} ######&#13;${level}|${machinename}|${message}|${event-properties:UserId}|${event-properties:UserName}|${event-properties:Data}|${exception:tostring}|${logger}|${callsite}&#13;"
            maxArchiveFiles="7"
            maxArchiveDays="7"
            archiveNumbering="Date"
            archiveEvery="Day"
            fileName="${basedir}/logs/logs.txt"
            enableFileDelete="true"
            createDirs="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Fatal" writeTo="logfile" />
  </rules>
</nlog>